<div class="top-wrapper">
  <div class="container top-container">
    <div class="row">
      <div class="card-body col-md-offset-2 col-md-8 text-center">
        <div class="top-logo">
          <p>全国の「おいしいもの」を投稿するサイトです</p>
          <p>みんなで「BiMMy!(美味ぃ!)」を共有しましょう</p>
        </div>
      </div>
    </div>
  </div>
</div>
