<div class="wrapper">
  <div class="posts-container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-offset-3 col-md-6 posts-list-container text-left">
          <div class="posts-list-card">
            <p><%= link_to "#{post.user.name}","#" %></p>
            <h3><%= post.description %></h3>
            <p class="tweet-info">
              <%= post.user.created_at %>
            </p>
            <div class="form-group">
              <%= image_tag post.image.to_s %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
